.main-header {
  padding: 20px;
  background-image: var(--clr-header);
  border-radius: 35px;
  margin-bottom: 18px;
}

.header-btn:hover {
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  background-color: var(--clr-white);
  color: var(--clr-blue);
}
.header-btn {
  width: 90px;
  font-size: 20px;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  color: var(--clr-white);
}

h1 {
  width: 150px;
}

.btn-container {
  column-gap: 70px;
}
